html {
	font-family: helvetica;
}

#wrapper1, #wrapper2 {
	height: auto;
	padding: 20px;
	margin: auto;
}

#content {
  width: 960px;
  margin: 0 auto;
}

h1 {
	margin-top: 100px;
}

h2, h3, h4{
	margin-top: 5px;
	padding: 10px;
	text-align: center;
}

.tableauPlaceholder h2 {
	text-align: center;
}

/* This Controls the size of each chart*/
#wrapper2 .charts1,#wrapper1 .charts {
	float: left;
    height: 290px;
    margin: auto auto 10px 10px;
    width: 328.5px;

}


.space {
	text-align: center;
	clear: both;
}


#circle circle {
        fill: none;
        pointer-events: all;
      }
path.group {
        fill-opacity: .8;
      }
path.chord {
        fill-opacity: .8;
        stroke: #000;
        stroke-width: .25px;
      }
#circle:hover path.fade {
        display: none;
      }
g.fade {
        opacity: 0;
      }
#svgcanvas {
        position: relative;
        padding-left: 50px;
        padding-top: 20px;
      }
svg text, h1,h2 {
        font-family: Arial;
        text-align: center;
 }
 #chord {
 	position: relative;
 }




/* Swigert CSS */

svg {
  font: 10px sans-serif;
}

.background path {
  fill: none;
  stroke: none;
  stroke-width: 20px;
  pointer-events: stroke;
}

.foreground path {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.axis .title {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.label {
  -webkit-transition: fill 125ms linear;
}

.active .label:not(.inactive) {
  font-weight: bold;
}

.label.inactive {
  fill: #ccc;
}

.foreground path.inactive {
  stroke: #ccc;
  stroke-opacity: .5;
  stroke-width: 1px;
}



.tableauPlaceholder, #production, #chord {
	margin: auto;
}

#production {
	padding-left: 10%;
}



/* Navigation Bar */

#navigation {
	position: fixed;
	top:0;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
	margin: 0 auto;
	z-index: 10;
	background-color: light-gray;
	vertical-align: middle;
}

#navigation ul {
	height: 30px;
	margin: 0px;
	padding: 5px 5px;
  padding-top: 10px;
	margin-left: auto;
	background-color: #D6D6D6;
	margin-right: auto;
  display: inline-block;
}

#navigation li {
	display: inline;
	margin: 15px;
	text-align: center;
	padding: 10px;
}

#navigation li a:hover{
	color: white;
}

#navigation li a {
	color: #D7772D;
}




h1, h2, h3, h3 {
  font-family: 'Libre Baskerville', serif;
}